<div class="video-player">
  <div ng-if="!!$ctrl.video" class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" ng-src="{{'https://www.youtube.com/embed/' + $ctrl.video.id.videoId}}" allowFullScreen></iframe>
  </div>
  <div ng-if="!$ctrl.video">
    Please wait
  </div>
  <div class="video-player-details">
    <h3>{{$ctrl.video.snippet.title}}</h3>
    <div>{{$ctrl.video.snippet.description}}</div>
    <p><b>Channel Title:</b> {{$ctrl.video.snippet.channelTitle}}</p>
    <p><b>Published At:</b> {{$ctrl.video.snippet.publishedAt | date}}</p>
  </div>
</div>
