<div class="video-player">
  <div ng-if="!!$ctrl.video" class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" ng-src="{{'https://www.youtube.com/embed/' + $ctrl.video.id.videoId}}" allowFullScreen></iframe>
  </div>
  <div ng-if="!$ctrl.video">
    Please wait
  </div>
  <div class="video-player-details">
    <h3>{{$ctrl.video.snippet.title}}</h3>
    <div>{{$ctrl.video.snippet.description}}</div>
    <h6><br><b>Channel Title:</b> {{$ctrl.video.snippet.channelTitle}}</h6>
    <h6><b>Published At:</b> {{$ctrl.video.snippet.publishedAt | date}}</h6>
    <h6><b>Comments:</b></h6>
    <ul class="video-player-comments">
      <video-details ng-repeat="comment in $ctrl.comments" comment="comment"><h5><em>videoDetails</em> component goes here</h5></video-details>
    </ul>
  </div>
</div>
